*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-color: rgb(236, 200, 155);
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Computacao-Tab{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: bisque;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav img{
    transition: top ease 0.5s;
    top: 0;
}

nav img:hover{
    top: -7px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

nav ul li .romp:hover,
.dropbtn:hover{
    color: darkcyan;
    top: -7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(236, 200, 155);
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: darkcyan;
}

.dropdown.active .dropdown-content {
    display: block;
    background-color: transparent;
}

.dropdown.active .dropbtn {
    background-color: transparent;
}

.anchors {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -100px;
}

.anchor {
    display: inline-block;
    background: rgb(236, 200, 155);
    padding: 10px 18px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
    transition: transform 0.5s ease;
    position: relative;
}

.anchor:hover {
    color: darkcyan;
    transform: translateY(-7px);
}
